In [1]:
pip install fdb

Requirement already satisfied: fdb in c:\users\didio\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: future>=0.16.0 in c:\users\didio\anaconda3\lib\site-packages (from fdb) (0.18.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import fdb
import pandas as pd

In [2]:
# DatabaseName='localhost:C:\Evoltech\Dados\ESTOQUE.FDB'
# Parâmetros='user_name=SYSDBA password=masterkey'

In [6]:
conn = fdb.connect(
    host='localhost', database='D:/Frazilli_dash/FRAZILLI.GDB', 
    user='SYSDBA', password='masterkey')

In [7]:
c = conn.cursor()

In [11]:
query = "SELECT * FROM PED_VEND"
df = pd.read_sql(query, con=conn)

C:\Users\didio\AppData\Local\Temp\ipykernel_4908\2801495965.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

In [13]:
df

,ANO,ANOORCAM,BAIRRO,CEP,CFOP,CFOP_DIF,CIDADE,CNPJCPF,CODCLI,CODCOND,...,DIF_ICMS_ORIG,DIF_ICMS_DEST,FECP,CODUSUALT,PREVDTLIBERA,DTSEPARA,DTLIBERA,HRSEPARA,HRLIBERA,ORIG_PED
0,2016,2016,CENTRO,18490-000,5.102,5.102-01,BARAO DE ANTONINA,10.494.982/0001-79,11941,36,...,NaN,NaN,NaN,NaN,2016-10-10,None,None,None,None,None
1,2016,2016,CENTRO,18440-000,5.102,5.102-01,ITABERA,290.006.728-64,14496,1,...,NaN,NaN,NaN,NaN,2016-10-11,None,None,None,None,None
2,2016,2016,None,-,5.102,5.102-01,None,EEE.EEE.EEE-E1,1,1,...,NaN,NaN,NaN,NaN,2016-10-10,None,None,None,None,None
3,2016,2016,None,-,5.102,5.102-01,None,EEE.EEE.EEE-E1,1,1,...,NaN,NaN,NaN,NaN,2016-10-10,None,None,None,None,None
4,2016,2016,V DOM BOSCO,18400-000,5.102,5.102-01,ITAPEVA,202.587.678-55,3745,5,...,NaN,NaN,NaN,NaN,2016-10-10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56163,2023,2023,JARDIM MARINGÁ,18407-111,5.102,5.102-01,ITAPEVA,52.417.367/0001-09,18314,1,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
56164,2023,2023,CENTRO,18400-000,5.102,5.102-01,ITAPEVA,20.838.946/0001-39,15936,15,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
56165,2023,2023,TAQUARIVAI,18402-02,5.102,5.102-01,TAQUARIVAI,48.400.354/0001-50,22191,1,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
56166,2023,2023,TAQUARIVAI,18402-02,5.102,5.102-01,TAQUARIVAI,48.400.354/0001-50,22191,18,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None
56167,2023,2023,JARDIM MARINGÁ,18407-111,5.102,5.102-01,ITAPEVA,52.417.367/0001-09,18314,1,...,NaN,NaN,NaN,NaN,None,None,None,None,None,None

In [14]:
df.to_csv("vendas.csv", sep=";", decimal =',')